body {
  background: #eaeaea;
  color: #4f4f4f;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

.game {
  margin: auto;
  width: 600px;
}

.gamepanel {
  display: flex;
}

@media all and (max-width: 400px) {
  .game {
    width: auto;
  }
  .gamepanel {
    flex-direction: column;
  }
}

div.panel {
  background: #61a1bc;
  background: #fff;
  padding: 15px 30px;
  margin-bottom: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1;
}